body {
  font-family: sans-serif;
  text-align: center;
  color: #333; }

header img {
  max-height: 204px; }

main {
  padding-bottom: 4rem; }

footer {
  padding: 3rem;
  background-color: whitesmoke; }
