body{
            font-family: 'Work Sans', sans-serif;
            text-rendering: optimizeLegibility;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.04rem;
            line-height: 1.75rem;
            color: aliceblue;
            background-color:#082056;
            background-image: url(../assets/Tile.png);
            background-position: top center;
            background-repeat: repeat-x;
            margin: 0px;
            height: 100%;
        }
        #lottie{
            background-color:#082056;
            width:330px;
            height:225px;
            display:block;
            overflow: hidden;
            transform: translate3d(0,0,0);
            text-align: center;
            opacity: 1;
            margin-bottom: 2.5rem;
        }
        
        main {
            max-width: 525px;
            margin: 0 auto;
            padding-top: 2rem;
            background-color:#082056;
        }
        
        h2 {
            //color: #3F97F4;
            color: white;
            font-size: 1.35rem;
            text-transform: uppercase;
            letter-spacing: 0.9rem;
            margin-bottom: 0.5rem;
        }
        
        p.intro {
            font-size: 0.97rem;
            font-weight: 200;
            margin-bottom: 1.9rem;
        }

        p.small {font-size: 0.75rem;}
        
        h1.logo {
            /*color: red;*/
            width: 130px;
            height: 36px;
            background-image: url(../assets/Logo-white.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 2rem;
        }
        
        h1.logo span {
           /* color: transparent; */
            opacity: 0;
        }
        
        a {
            color: #24A39B;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }

form {
    margin-bottom: 2rem;
}
        
        form.sign-up label {
            cursor: pointer;
            color: #24A39B;
            display: inline-block;
            font-size: 0.95rem;
            margin-bottom: 0.5rem;
        }
        
        form .pill-danger {
            font-size: 0.75rem;
            font-weight: 400;
            text-align: center;
            line-height: 1rem;
            padding: 5px 30px;
            background-color: #CB5333;
            border-radius: 3px;
            margin: 0.35rem 0 1rem 0;
        }
        
        form p {
            margin-top: 0.5rem;
            line-height: 1rem;
        }
        
        form button.btn {
            cursor: pointer;
            font-size: 0.85rem;
            padding: 1rem 2rem;
            border-radius: 3px;
            text-transform: uppercase;
            color: #24A39B;
            background-color: #091b44;
            border: 0;
            margin-left: 10px;
            font-weight: 600;
            
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        
        form button.btn:hover {
            color: #fff;
            background-color: #24A39B;
            -webkit-box-shadow: 0 10px 60px 0 rgba(0,0,0,0.8);
            box-shadow: 0 10px 60px 0 rgba(0,0,0,0.8);
        }
        
        form input.text-field {
            font-size: 1rem;
            border-radius: 3px;
            padding: 0.8rem 16px;
            width: 390px;
            color: #24A39B;
            background-color: #091b44;
            border: 1px solid #255163;
            border-radius: 4px;
        }
        
        form ::placeholder {
            color: #24A39B;
            font-size: 0.95rem;
            letter-spacing: 1px;
            font-weight: 100;
            opacity: 0.9;
        }

// CUSTOM CHECKBOX
form {
    .custom-check {
        input[type="checkbox"] {
           // opacity: 0;
            display: none;
        }
        
        label::before{
            content: "";
            display: inline-block;

            height: 18px;
            width: 18px;

            border: 1px solid;
            border-radius: 3px;
            background-color: #24A39B;
        }
        
        label::after {
            content: "";
            display: inline-block;
            height: 6px;
            width: 9px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            border-color: white;

            transform: rotate(-45deg);
        }
        
        label {
            position: relative;
            padding-left: 35px;
        }
        
        label::before, label::after {position: absolute;}
        
        label::before {
                top: 5px;
                margin-left: -35px;
            }
        
        label::after {
            left: 5px;
            top: 9px;
        }
    }
}

/* Hide/Show the checkmark and change background color of box */

.custom-check input[type="checkbox"] + label::after {
    content: none;
}

.custom-check input[type="checkbox"]:checked + label::after {
    content: "";
}

.custom-check input[type="checkbox"] + label::before {
    background-color: #091b44;
}

.custom-check input[type="checkbox"]:checked + label::before {
    background-color: #24A39B;
}



// FOOTER

footer {
    padding-bottom: 3rem;
}
        
        footer .wrap {
            width: 525px;
            margin: 0 auto;
        }
        
        footer .sm-logo {
            margin: 1rem 0;
        }
        
        footer p {
            line-height: 0.5rem;
            margin: 0;
        }




// MEDIA QUERIES - MOBILE PORTRAIT ONLY

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
    html {
        overflow: hidden;
    }
    
    body {
        overflow-x: hidden;
    }
  
  main, footer .wrap {
            padding: 25px 25px 0;
        }
    
    #lottie {
        width: auto;
    }
    
    
    form button.btn {
        width: 100%;
        margin-left: 0;
        color: #fff;
        background-color: #24A39B;
    }
    
    form input.text-field {
        width: 100%;
        margin-bottom: 0.5rem;
    }
  
}